@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("DangXuat", "NguoiDung", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             
                <li role="separator" class="divider"> </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng Xuất</a></li>
            </ul>
        </li>
    </ul>
}
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.Action("GioHangPartial", "GioHang")</li>
    <li><i class="fa-sharp fa-solid fa-right-to-bracket"></i></li>
    <li>@Html.ActionLink("Đăng Ký", "DangKy", "NguoiDung", null, htmlAttributes: new { @class = "DangKy" })</li>
    <li><i class="fa-solid fa-lock-open"></i></li>
    <li>@Html.ActionLink("Đăng Nhập", "DangNhap", "NguoiDung", null, htmlAttributes: new { @class = "DangNhap" })</li>
</ul>
}
